<div class="row">
  <div class="alert alert-info">
    Le nombre de click sur un cv : {{nb}}
  </div>
  <!--   <button
    (click)="home()"
    class="btn btn-danger">
    Home
  </button> -->
  <div class="row">
    {{date | date: 'long' | uppercase}}
  </div>
  <div class="col">
    <!-- (forwardCv)="selectCv($event)" -->
    <app-list [cvs]="cvs"></app-list>
  </div>
  <div class="col">
    <!-- [cv]="selectedCv" -->
    <app-detail></app-detail>
  </div>
</div>
<app-embauche></app-embauche>
